* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* section 1 starts here  */
.topContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.topContent {
  width: 85%;
  padding-top: 40px;
}

.topNav {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid silver;
  padding-bottom: 40px;
}
.topNav h1 span {
  color: aqua;
}
.navLink {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navLink li a {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
}
.navLink li a:hover {
  color: aqua;
}
.heroSection {
  margin: 30px 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
}
.column img {
  vertical-align: middle;
  width: 100%;
  padding: 5px;
}
.arrow {
  text-align: center;
  margin: 30px 0;
}
.arrow b {
  font-weight: 100;
  font-size: 1.5rem;
}
.arrow p {
  font-size: 0.8rem;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%; /* makes it to become 2 columns  */
  }
}
@media screen and (max-width: 600px) {
  .column {
    flex: 100%; /* makes it single column  */
  }
}
/* section 1 ends here  */


/* Section 2 begins  */

.section-two {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  font-family: 'Times New Roman', Times, serif;

}

.inner-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.inner-row {
  display: flex;
  width: 100%;
  padding: 60px 0;
  border-bottom: 2px solid grey;
 
}

.inner-row h2 {
  width: 40%;
  font-size: 2.4rem;
}

.inner-row h2 span {
  color: aqua;
}

.inner-row .icon {
  width: 20%;
  text-align: center;
}

.bodyText {
  width: 50%;
  padding: 0 20px;
  line-height: 28px;
}

.no-border-down {
  border-bottom: none;
}

@media screen and (max-width: 768px) {
    .inner-row .icon  {
     display: none; /* hides the icon*/
    }
}
@media screen and (max-width: 600px) {
  .inner-container {
    width: 90%;
  }

  .inner-row  {
    display: flex;
    flex-direction: column;
    gap: 10px;

  }

  .inner-row h2 {
    width: 100%;
  }
  .bodyText {
    width: 100%;
    padding: unset;
  }
}

/* Section 2 ends here  */